<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/header.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
  <a th:href="@{/home}" class="logo"><h3>단먼</h3></a>
  <ul>
    <li><a th:href="@{/typeword?type=2}">수능단어</a></li>
    <li><a th:href="@{/typeword?type=1}">토익단어</a></li>
    <li><a th:href="@{/typeword?type=4}">토스단어</a></li>
    <li><a th:href="@{/typeword?type=3}">오픽단어</a></li>
    <li><a th:href="@{/minigame}">단어게임</a></li>
  </ul>
</nav>
</body>
</html>